/**
 * @name JustDark
 * @version 0.2.2
 * @description Just Discord but dark.
 * @author Leon Daivs
 */

.theme-dark {
  --header-primary: var(--text-normal);
  --header-secondary: #a1a1a1;
  
  --text-normal: #e1e1e1;
  --text-muted: #818181;
  --text-link: #00a0e4;
  
  --channels-default: var(--text-muted);
  
  --interactive-normal: var(--text-muted);
  --interactive-hover: var(--text-normal);
  --interactive-active: var(--text-normal);
  --interactive-muted: #393939;
  
  --background-primary: #313131;
  --background-secondary: #212121;
  --background-secondary-alt: #252525;
  --background-tertiary: #111111;
  --background-accent: #353535;
  --background-floating: var(--background-secondary-alt);
  --background-modifier-hover: var(--background-secondary-alt);
  --background-modifier-active: #292929;
  --background-modifier-selected: var(--background-modifier-active);
  --background-modifier-accent: #313131;
  --background-message-hover: #29292560;
  /* Not sure what these do */
  --background-help-warning: #ff00ff;
  --background-help-info: #ff00ff;
  
  --scrollbar-thin-thumb: var(--background-modifier-accent);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: var(--background-secondary);
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: #ff00ff;
  --scrollbar-auto-scrollbar-color-track: #ff00ff;
  
  --channeltextarea-background: var(--background-modifier-active);
  /* Not sure what this does */
  --activity-card-background: #ff00ff;
  --textbox-markdown-syntax: #var(--text-muted);
  /* Not sure what these do */
  --deprecated-card-bg: #ff00ff;
  --deprecated-card-editable-bg: #ff00ff;
  --deprecated-store-bg: #ff00ff;
  /** Find/Start Convosation */
  --deprecated-quickswitcher-input-background: var(--background-tertiary);
  --deprecated-quickswitcher-input-placeholder: var(--text-muted);
  /* User Popup Message Box */
  --deprecated-text-input-bg: var(--background-secondary-alt);
  --deprecated-text-input-border: var(--background-secondary-alt);
  --deprecated-text-input-border-hover: var(--background-modifier-alt);
  --deprecated-text-input-border-disabled: var(--background-secondary-alt);
  /* Not sure what this does */
  --deprecated-text-input-prefix: #ff00ff;
}

/* VC/Stream Control Buttons */
.da-controlSection .da-wrapper .da-button:not([aria-label="Disconnect"]):not([aria-label="Stop Watching"]) {
  background-color: var(--interactive-muted) !important;
}

.da-controlSection .da-wrapper .da-button:not([aria-label="Disconnect"]):not([aria-label="Stop Watching"]):hover {
  background-color: var(--background-primary) !important;
}

.da-controlSection .da-wrapper .da-button:not([aria-label="Disconnect"]):not([aria-label="Stop Watching"]) .da-controlIcon {
  color: var(--interactive-active) !important;
}

/* User Popup */
.da-userPopout > .da-body {
  padding: 16px !important;
  background-color: var(--background-secondary) !important;
}

.da-userPopout > .da-footer {
  padding-top: 16px;
  background-color: var(--background-secondary) !important;
}

.da-userPopout .da-headerNormal .da-headerTop {
  background-color: var(--background-secondary-alt) !important;
}

.da-body > .da-bodyInnerWrapper {
  width: calc(100% + 8px) !important;
  padding: 0 !important;
}

.da-note > .da-textarea {
  background-color: var(--background-secondary-alt) !important;
}

.da-note > .da-textarea:hover, .da-note > .da-textarea:focus {
  background-color: var(--background-modifier-active) !important;
}

.da-userPopout .da-inputWrapper .da-input:hover, .da-userPopout .da-inputWrapper .da-input:focus {
  background-color: var(--background-modifier-active) !important;
  border: 1px solid var(--background-modifier-active) !important;
}

.da-body > .da-bodyInnerWrapper > .da-note {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Search Bar */
#search-results {
  background-color: var(--background-secondary) !important;
}

.da-option:hover, .da-option.da-selected {
  background-color: var(--background-secondary-alt) !important;
}

.da-option::before {
  height: 0 !important;
  width: 0 !important;
}

.da-option::after {
  background: none !important;
}

/* Screen Share and Upload Modals */
.da-modalCloseButton {
  color: var(--interactive-normal) !important;
  opacity: 1;
}

.da-modalCloseButton:hover {
  color: var(--interactive-hover) !important;
}

.da-modalSize, .da-uploadModal {
  background-color: var(--background-primary) !important;
}

.da-modalSize .da-footer, .da-uploadModal .da-footer {
  background-color: var(--background-secondary) !important;
}

.da-modalSize .da-segmentControlOption {
  color: var(--interactive-normal) !important;
}

.da-modalSize .da-segmentControlOption:hover, .da-modalSize .da-segmentControlOption.da-selected {
  color: var(--interactive-hover) !important;
  border-bottom-color: var(--interactive-hover) !important;
}

.da-uploadModal .da-hasSpoilers .da-checked {
  background: none !important;
}

.da-modalSize .da-card .da-button, .da-modalSize .da-footer .da-button:last-child {
  background-color: var(--interactive-muted) !important;
}

/* Friends List */
.da-tabBody {
  background-color: var(--background-primary) !important;
}

/* Region Popout */
.da-regionSelectPopout {
  background-color: var(--background-secondary) !important;
}

.da-regionSelectPopout .da-quickSelectPopoutOption:hover {
  background-color: var(--interactive-muted) !important;
}

/* Slash Commands */
.da-channelTextArea .da-autocompleteInner > .da-list {
  background-color: var(--background-secondary) !important;
}

.da-channelTextArea .da-autocompleteInner > .da-list .da-selected {
  background-color: var(--background-secondary-alt) !important;
}

.da-channelTextArea .da-autocompleteInner .da-categoryHeader {
  background-color: var(--background-secondary-alt);
}

/* Mention List */
.da-channelTextArea .da-autocompleteInner {
  background-color: var(--background-secondary);
}

.da-channelTextArea .da-autocompleteInner .da-selected {
  background-color: var(--background-secondary-alt);
}

/* Reactions */
.da-reaction:not(.da-reactionMe) {
  background-color: var(--background-accent) !important;
}